<h1>Calculate your tip!</h1>
<form action="/" method="post">
  <div>
    <label for="bill">Enter your total bill amount:</label>
    <input type="text" name="bill" id="bill">
  </div>
  <div>
    <label for="num_people">Enter the total number of people:</label>
    <input type="text" name="num_people" id="num_people">
  </div>
  <div>
    <input type="submit" name="submit" value="Submit">
  </div>
</form>
